:host {
  font-family: 'Helvetica Neue', sans-serif;
}
h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
}
.open-link {
  padding: 10px;
  background: #6d7291;
  margin: 0;
  cursor: pointer;
  transition: 0.35s ease-out;
  color: white;
}
.open-link.active {
  background: #414c91;
}
.open-link:hover {
  background: #496093;
  color: black;
}
.content-box {
  overflow:hidden;
}
.inner {
  padding:1em;
}
